
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/shared/_layout.cshtml";
}
<div class="row">
    <div class="col-md-6"><h2 style="float:right;">Tournament</h2></div>
    <div class="col-md-6">
        <h2>Battle 1vs1</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6  align-items-center">
        <a href="~/tournament/Index" style="float:right;"><img src="~/img/tournament.jpg" style="max-width:500px;" class="media-object  img-responsive img-thumbnail"></a>
    </div>
    <div class="col-md-6  align-items-center">
        <a href="~/game/battle/index"><img src="~/img/game.jpg" style="max-width:500px;" class="media-object  img-responsive img-thumbnail"></a>
    </div>
</div>